# Temporary files
PCB/*.000
PCB/*.bak
PCB/*.bck
PCB/*.kicad_pcb-bak
PCB/*.kicad_sch-bak
PCB/*.kicad_prl
PCB/*.sch-bak
PCB/*~
_autosave-*
PCB/*.tmp
PCB/*-save.pro
PCB/*-save.kicad_pcb
PCB/fp-info-cache
PCB/#*

# Netlist files (exported from Eeschema)
PCB/*.net

#kicad Backup
PCB/*-backups/


/software/old

